.chat-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

video {
  width: 80%;
  max-width: 80%;
  margin-bottom: 0.5em;
}

button {
  width: 100%;
}

@media (min-width: 576px) {
  video {
    width: 70%;
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  video {
    width: 55%;
    max-width: 55%;
  }
}

@media (min-width: 992px) {
  video {
    width: 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  video {
    width: 30%;
    max-width: 30%;
  }
}
